@using Microsoft.AspNetCore.Http
@{
    var isAuthorized = Context.Session.GetInt32("users_id") != null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/blog.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" 
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" 
                crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="dist/js/func.js"></script>
</head>
<body>
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" asp-area="" asp-page="/Index">Watch Me!</a>
      </div>
      <div>
        @if (isAuthorized)
        {
          <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-page="/Account"><strong class="beautifront">Личный кабинет</strong></a>
        }
        else
        {
          <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-page="/Signup"><strong class="beautifront">Регистрация</strong></a>
          <a class="btn btn-sm btn-outline-secondary" asp-area="" asp-page="/Signin"><strong class="beautifront">Войти</strong></a>
        }
      </div>
    </div>
  
  </header>
</div>
<div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>




<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/slider.js"></script>

@RenderSection("Scripts", required: false)
</body>
    
<footer class="blog-footer bobamoba1">
  <p> Watch me! 2020. Все права защищены законом. <a>Макаров Д.В</a></p>
</footer>
</html>