@page
@model CovidModel





<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]Covid-19</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
    <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">    
    <style type="text/css">
</style>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="assets/css/blog.css" rel="stylesheet">
</head>
<body>
    

  <div class="container">
    <main role="main" class="pb-3">
    </main>
  </div>
  

<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-endntent-between">
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/Covid">Коронавирус</a>
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/Offices">Офисы</a>
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/Blog">Блог</a>
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/Videos">Видео</a>
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/About">О Нас</a>
    </nav>  
</div>

<div class="hero-unit ">
    <h1 class = "centrfront beautifront">КАК УПРАВЛЯТЬ БИЗНЕСОМ ВО ВРЕМЯ ЭПИДЕМИИ КОРОНАВИРУСА?</h1>
    <br>
    <h3 beautifront style="color: #6c757d">8 рекомендаций топ-менеджменту компаний</h3>
    <p class="blog-post-meta">15 Ноября, 2020 <a>Admin</a></p>
</div>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mobaboba">
    <div class="col-md-6 px-0" style="float: left">
        <h1 class = "centrfront beautifront">1. Следите за новостями ежедневно</h1>
        <br>
        <h4 beautifront style="color: #6c757d">Ситуация меняется каждый день. Не так давно казалось, что вспышка ограничится Китаем. Но потом в других странах появилось еще несколько быстро растущих очагов инфекции. Началась новая фаза эпидемии: теперь нужно не только сдерживать ее, но и бороться с последствиями.</h4>
    </div>
    <img class="mainimage bobamoba" src="images\onecov.jpg" width="450" height="300">
</div>
<br>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mobaboba">
    <div class="col-md-6 px-0" style="float: left">
        <h1 class = "centrfront beautifront">2. Помните, что не все новости правдивы</h1>
        <br>
        <h4 beautifront style="color: #6c757d">Сегодняшнюю политику вашей компании определяют вчерашние новости. Сталкиваясь с быстро меняющимися данными, люди склонны сначала игнорировать слабые сигналы, затем реагировать на них слишком остро и только потом оценивать ситуацию взвешенно. Прочитав последние новости, не нужно сразу принимать меры – сначала критически оцените источник информации.</h4>
    </div>
    <img class="mainimage bobamoba" src="images\twocov.jpg" width="450" height="300">
</div>

<br>
  
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mobaboba">
    <div class="col-md-6 px-0" style="float: left">
        <h1 class = "centrfront beautifront">3. Не думайте, что информация – залог информированности</h1>
        <br>
        <h4 beautifront style="color: #6c757d">В современном мире у сотрудников есть прямой доступ к множеству источников информации. Начальство может счесть, что этого достаточно и информировать людей дополнительно не нужно. Однако регулярно обновляемая сводка фактов и выводов может принести много пользы. Людям не придется тратить время на споры о фактах или, что еще хуже, самим придумывать факты.</h4>
    </div>
    <img class="mainimage bobamoba" src="images\threecow.jpg" width="450" height="300">
</div>

<br>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mobaboba">
    <div class="col-md-6 px-0" style="float: left">
        <h1 class = "centrfront beautifront">4. Используйте экспертные прогнозы, но осторожно</h1>
        <br>
        <h4 beautifront style="color: #6c757d">Эксперты по эпидемиологии, вирусологии, здравоохранению, логистике и другим дисциплинам играют очень важную роль. Но у разных экспертов могут быть разные мнения по ключевым вопросам – от оптимальной тактики сдерживания болезни до ее экономических последствий, поэтому лучше ознакомиться с несколькими источниками. Каждая эпидемия уникальна и непредсказуема, и мы пока далеко не все понимаем о нынешнем кризисе.</h4>
    </div>
    <img class="mainimage bobamoba" src="images\fourcov.jpg" width="450" height="300">
</div>

<br>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mobaboba">
    <div class="col-md-6 px-0" style="float: left">
        <h1 class = "centrfront beautifront">5. Постоянно пересматривайте оценку ситуации</h1>
        <br>
        <h4 beautifront style="color: #6c757d">Если вы проанализируете ситуацию и составите письменный план, он сразу начнет вас замедлять и ограничивать. Китайская пословица гласит: хорошие генералы отдают приказы утром и меняют их вечером.</h4>
    </div>
    <img class="mainimage bobamoba" src="images\fivecow.jpg" width="450" height="300">
</div>

<br>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mobaboba">
    <div class="col-md-6 px-0" style="float: left">
        <h1 class = "centrfront beautifront">6. Избегайте бюрократии</h1>
        <br>
        <h4 beautifront style="color: #6c757d">Спорные, важные и резонансные вопросы всегда привлекают внимание топ-менеджеров, отдела корпоративных отношений, юристов, риск-менеджеров и т. д. У каждого свое мнение, как информировать сотрудников, – в результате вы будете осторожно выдавать слишком обобщенные данные и реагировать на все слишком медленно.</h4>
    </div>
    <img class="mainimage bobamoba" src="images\sixcov.jpg" width="450" height="300">
</div>

<br>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mobaboba">
    <div class="col-md-6 px-0" style="float: left">
        <h1 class = "centrfront beautifront">7. Учитывайте семь факторов</h1>
        <br>
        <h4 beautifront style="color: #6c757d"><ul>
            <li>Информирование</li>
            <li>Потребности сотрудников</li>
            <li>Поездки</li>
            <li>Удаленная работа</li>
            <li>Стабилизация цепи поставок</li>
            <li>Отслеживание и прогнозирование</li>
            <li>Решайте не только свои проблемы</li>
        </ul></h4>
    </div>
    <img class="mainimage bobamoba" src="images\sevencov.jpg" width="450" height="400">
</div>

<br>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark mobaboba">
    <div class="col-md-6 px-0" style="float: left">
        <h1 class = "centrfront beautifront">8. При разработке стратегии опирайтесь на принципы устойчивости</h1>
        <br>
        <h4 beautifront style="color: #6c757d">
            <ul>
                <li>Избыточность</li>
                <li>Разнообразие</li>
                <li>Модульность</li>
                <li>Способность к развитию</li>
                <li>Предусмотрительность</li>
                <li>Интеградция</li>
            </ul>
        </h4>
    </div>
    <img class="mainimage bobamoba" src="images\eightcov.jpg" width="450" height="350">
</div>

<br>


<script type="text/javascript">
  $(document).ready(function(){
 
  $(window).scroll(function(){
     if ($(this).scrollTop() > 10) { 
     $('.scrollup').fadeIn();
  } else {
     $('.scrollup').fadeOut();
  }
});
 
  $('.scrollup').click(function(){
  $("html, body").animate({ scrollTop: 0 }, 600);
  return false;
 });
 
});
</script>

<a href="#" class="scrollup">Наверх</a>


</body>
</html>

