@page
@model SignUpModel

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Регистрация</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
    <link rel="stylesheet" href="C:\Users\Danila\Desktop\ProjectB\assets\css\blog.css">

<link href="dist/css/bootstrap.min.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
  </head>

 <body>

  
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-endntent-between">
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/Covid">Коронавирус</a>
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/Offices">Офисы</a>
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/Blog">Блог</a>
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/Videos">Видео</a>
        <a class="p-2 text-muted beautifront" asp-area="" asp-page="/About">О Нас</a>
    </nav>  
</div>


<div class="center-block">
    <form class="signin-form simple-border" name="signUp" onsubmit="return false;">
        <h2>Регистрация</h2>
        <label for="inputLogin" class="sr-only">Логин</label>
        <input name="name" type="text" id="inputLogin" class="form-control" placeholder="Логин" required="" autofocus="">
        <label for="inputPassword1" class="sr-only">Пароль</label>
        <input name="password1" type="password" id="inputPassword1" class="form-control middle-input" placeholder="Пароль" required="">
        <label for="inputPassword2" class="sr-only">Повторите пароль</label>
        <input name="password2" type="password" id="inputPassword2" class="form-control" placeholder="Повторите пароль" required="">
         <label for="inputName" class="sr-only">Настоящее имя</label>
         <input name="realname" type="text" id="inputName" class="form-control" placeholder="Настоящее_имя" required="" autofocus="">
         <label for="inputPhone" class="sr-only">Номер телефона</label>
         <input name="phone" type="text" id="inputPhone" class="form-control" placeholder="Номер телефона" required="" autofocus="">
        <div class="signup-link"><a href="@Url.Page("./SignIn")">Войти</a></div>
        <button name="remember" class="form_auth_button" type="submit" onclick="signup()">Зарегестрироваться</button>
    </form>
</div>

@* *@
@*  <div class="form_auth_block"> *@
@*   <div class="form_auth_block_content"> *@
@*     <p class="form_auth_block_head_text" style="background-color: #fee97c">Регистрация</p> *@
@*     <form class="form_auth_style" action="#" method="post"> *@
@*       <input type="email" name="auth_email" placeholder="Введите Ваш имейл" required > *@
@*       <input type="password" name="auth_pass" placeholder="Введите пароль" required > *@
@*       <input type="password" name="auth_pass" placeholder="Подтвердите пароль" required > *@
@*       <button class="form_auth_button" type="submit" name="form_auth_submit" style="background-color: #fee97c" onclick="signin()">Зарегестрироваться</button> *@
@*       <button class="form_auth_button" type="submit" name="form_auth_submit" style="background-color: #fee97c; width: 150px "><a asp-area="" asp-page="/Signin">Есть аккаунт</a></button> *@
@*     </form> *@
@*   </div> *@
@* </div> *@

 
<script type="text/javascript">
  $(document).ready(function(){
 
  $(window).scroll(function(){
     if ($(this).scrollTop() > 10) { 
     $('.scrollup').fadeIn();
  } else {
     $('.scrollup').fadeOut();
  }
});
 
  $('.scrollup').click(function(){
  $("html, body").animate({ scrollTop: 0 }, 600);
  return false;
 });
 
});
</script>

<a href="#" class="scrollup">Наверх</a>
</body>


</html>

